<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <meta name="description" content=""/>
        
        <title>Expressions</title>

        <!-- google font http://fonts.googleapis.com/css -->
        <link href="../bower_components/angular-material/angular-material.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--
            <link href="../bower_components/angular-material-icons/angular-material-icons.css" rel="stylesheet"/>
            -->
        <link href="./assets/app.css" rel="stylesheet"/>
        <!-- 
             <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
             -->
    </head>
    
    <body ng-app="expressionApp" ng-cloak>

        <div ng-controller="browsingCntrl">

            <md-sidenav md-component-id="left_menu" class="md-sidenav-left">
                <md-list>
                    <md-list-item ng-repeat="nav in navs">
                        <md-button class="md-icon-button"
                                   style="width:100%; text-align:left; padding-left:10px;"
                                   ng-click="">
                            <md-icon md-font-set="material-icons">{{nav.icon}}</md-icon>
                            <span style="padding-left:10px;">{{nav.label}}</span>
                        </md-button>
                    </md-list-item>
                </md-list>
                
            </md-sidenav>
            
            <md-toolbar color="primary">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-click="toggle_left_menu()">
                        <md-icon md-font-set="material-icons">menu</md-icon>
                    </md-button>
                    {{title}}
                </div>
            </md-toolbar>

            <div layout="row" layout-wrap>

                <md-card ng-repeat="person in people" style="width:30%;" flex="noshrink" >
                    <img alt="img" ng-src="{{person.img}}"/>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" >{{person.name}}</span>
                            <span class="md-subhead">{{person.city}}</span>
                        </md-card-title-text>
                    </md-card-title>

                    <md-card-content>
                        {{person.bio}}
                    </md-card-content>
                    
                    <md-card-actions layout="row" layout-align="start center">
                        <span flex></span>
                        <md-button><md-icon md-font-set="material-icons">favorite</md-icon></md-button>
                        <md-button><md-icon md-font-set="material-icons">chat_bubble</md-icon></md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
        
        <div>
            <script src="../bower_components/angular/angular.js"></script>
            <script src="../bower_components/angular-animate/angular-animate.js"></script>
            <script src="../bower_components/angular-aria/angular-aria.js"></script>
            <script src="../bower_components/angular-material/angular-material.js"></script>
            <script src="./expressions.js"></script>
        </div>
    </body>
</html>
